<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/countdown" class="active">Countdown</a>
        <a href="/about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="navBar()">&#9776;</a>
    </div>

    <div id="clock">
        <table id="leaderboard" class="text">
            <tr>
                <td>
                    <p id="counterup1" class="time"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="counterup2" class="time"></p>
                </td>
            </tr>
        </table>
    </div>

    <script>
        window.onload = function () {
            // Month,Day,Year,Hour,Minute,Second
            var countDowns = []
            countDown1 = new Date('<%= date1%>');
            countDown2 = new Date('<%= date2%>');
            countDowns.push(countDown1);
            countDowns.push(countDown2);
            upTime(countDowns, countDowns.length);

        }

        function upTime(countDowns, len) {
            var id = "counterup1";

            for (var i = 0; i < len; i++) {
                now = new Date();
                countDown = new Date(countDowns[i]);
                difference = (countDown - now);

                days = Math.floor(difference / (60 * 60 * 1000 * 24) * 1);
                hours = Math.floor((difference % (60 * 60 * 1000 * 24)) / (60 * 60 * 1000) * 1);
                mins = Math.floor(((difference % (60 * 60 * 1000 * 24)) % (60 * 60 * 1000)) / (60 * 1000) * 1);
                secs = Math.floor((((difference % (60 * 60 * 1000 * 24)) % (60 * 60 * 1000)) % (60 * 1000)) / 1000 * 1);

                formated_days = ("0" + days).slice(-2);
                formated_hours = ("0" + hours).slice(-2);
                formated_mins = ("0" + mins).slice(-2);
                formated_secs = ("0" + secs).slice(-2);

                counterup = document.getElementById(id);
                counterup.innerHTML = formated_days + "d " + formated_hours + "h " + formated_mins + "m " + formated_secs + "s ";
                if (difference < 0) {
                    document.getElementById(id).value = "EXPIRED";
                }

                if (id == "counterup1") {
                    id = "counterup2"
                } else {
                    id = "counterup1"
                }
            }
            clearInterval(upTime.to);
            upTime.to = setInterval(function () { upTime(countDowns, len); }, 1000);
        }

        function navBar() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>