<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a class="active" href="/countdown">Countdown</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div id="clock">

        <p id="counterup" class="time"></p>
        <form action="/" method="post">
            <input type="hidden" id="reset_request_date_time" name="reset_request_date_time" value="CurrentDateTime">
        </form>
    </div>

    <script>
        window.onload = function () {
            // Month,Day,Year,Hour,Minute,Second
            countDown = new Date('<%= date%>');
            upTime(countDown);
        }

        function upTime(countDown) {
            now = new Date();
            countDown = new Date(countDown);
            difference = (countDown - now);

            days = Math.floor(difference / (60 * 60 * 1000 * 24) * 1);
            hours = Math.floor((difference % (60 * 60 * 1000 * 24)) / (60 * 60 * 1000) * 1);
            mins = Math.floor(((difference % (60 * 60 * 1000 * 24)) % (60 * 60 * 1000)) / (60 * 1000) * 1);
            secs = Math.floor((((difference % (60 * 60 * 1000 * 24)) % (60 * 60 * 1000)) % (60 * 1000)) / 1000 * 1);

            formated_days = ("0" + days).slice(-2);
            formated_hours = ("0" + hours).slice(-2);
            formated_mins = ("0" + mins).slice(-2);
            formated_secs = ("0" + secs).slice(-2);

            counterup = document.getElementById("counterup");
            counterup.innerHTML = formated_days + "d " + formated_hours + "h " + formated_mins + "m " + formated_secs + "s ";
            document.getElementById("reset_request_date_time").value = now;

            clearInterval(upTime.to);
            if (difference < 0) {
                document.getElementById("reset_request_date_time").value = "EXPIRED"
            } else {
                upTime.to = setInterval(function () { upTime(countDown); }, 1000);
            }
        }

    </script>

</body>

</html>