<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/leaderboard">Leaderboard</a></li>
        <li><a href="/countdown">Countdown</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div id="clock">
        <p id="counterup" class="text">Coming soon</p>
    </div>

</body>

</html>