<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/leaderboard" class="active">Leaderboard</a>
        <a href="/countdown">Countdown</a>
        <a href="/about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="navBar()">&#9776;</a>
    </div>

    <div id="clock">
        <p id="counterup" class="text">Coming soon</p>
    </div>

    <script>
        function navBar() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            }
            else
            { x.className = "topnav"; }
        }
    </script>

</body>

</html>